*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: #000;
}

.nav{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
}

.nav-prt2{
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-between;
}

.nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.nav>i{
    font-size: 20px;
}

.nav h5{
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

.nav img{
    height: 60px;
}

.line{
    width: 80px;
    height: 2px;
    background-color: red;
}

.content{
    height: calc(100% - 120px);
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;

}
.left{
    width: 36%;
    height: 100%;
    padding: 160px 100px;

}
.center{
    width: 24%;
    height: 100%;
    /* background-color: red; */
    padding-top: 60px;

}
.right{
    width: 36%;
    height: 100%;
    padding: 330px 130px;

}

.left h1{
    font-size: 72px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 50px;
}

.left h1 span{
    color: red;
    font-weight: 550;
}

.left p{
    margin-bottom: 50px;
    font-size: 18px;
    width: 70%;
    line-height: 24px;
}

/* .left button{
    background-color: red;
    padding: 20px 42px;
    border-radius: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 700;
}*/
.left button i{
    margin-right: 10px;
} 
.hi {
    display: flex;
    align-items: center; /* Vertically center the content */
  }
  
.left button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 42px; 
    background-color: red ;
    font-size: 22px;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
  }
  
  i.ri-heart-line {
    margin-left: 15px; 
    font-size: 35px;
  }

  .center-bg{
    background-color: blue;
    height: 92%;
    width: 100%;
    border-top-left-radius: 1000px;
    border-top-right-radius:1000px ;
    background-image: url(https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage-thumbnail.jpg);
    background-size: 450%;
    background-position: 30% 40%;
    filter: blur(2px);
  }
  
  .content>img{
    height: 100%;
    position: absolute;
    left:49%;
    transform: translate(-50%,0);
  }

  .right-elems{
    width: 400px;
  }

  .elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background-color: blue; */
    border-bottom: 1px solid #fff;
    opacity: 0.6;
}

.elem1 h1{
    font-size: 25px;
    font-weight: 600;

}

.elem1 i{
    font-size: 25px;
}

.elem2 h1{
    font-size: 27px;
    font-weight: 650;
    margin-bottom: 15px;
    padding-top: 15px;

}

.elem2 p{
    font-size: 17px;
    width: 80%;
    opacity: 0.6;
}